{"swagger":"2.0","info":{"version":"1.0.0","title":"\u6d4b\u8bd58","description":"\u6a21\u5757\u63cf\u8ff0","contact":{"name":"aaa"},"license":{"name":"MIT"}},"host":"www.swaggertest.com","basePath":"","schemes":["http"],"consumes":["application\/json"],"produces":["application\/json"],"tags":[],"paths":{"\/live\/admin\/submit-info":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"string","name":"portrait","default":"","in":"formData","description":"\u5934\u50cf\u56fe\u8def\u5f84","required":true},{"type":"string","name":"brief","default":"","in":"formData","description":"\u4e2a\u4eba\u7b80\u4ecb","required":true},{"type":"string","name":"motto","default":"","in":"formData","description":"\u683c\u8a00","required":true}],"description":"\u54a8\u8be2\u5e08\u4e0a\u4f20\u4e2a\u4eba\u4fe1\u606f","tags":["\u540e\u53f0"],"summary":"\u540e\u53f0\u4e0a\u4f20\u4e2a\u4eba\u4fe1\u606f","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u4fdd\u5b58\u5931\u8d25"}}}},"\/live\/admin\/get-admin-info":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"}],"description":"\u83b7\u5f97\u54a8\u8be2\u5e08\u4e2a\u4eba\u4fe1\u606f","tags":["\u540e\u53f0"],"summary":"\u83b7\u5f97\u54a8\u8be2\u5e08\u4e2a\u4eba\u4fe1\u606f","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u67e5\u8be2\u6210\u529f"}}}},"\/live\/category\/index":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"}],"description":"\u83b7\u53d6\u6587\u4ef6\u5206\u7c7b\u5217\u8868","tags":["\u540e\u53f0"],"summary":"\u6587\u4ef6\u5206\u7c7b\u5217\u8868","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/live\/category\/add":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"string","name":"name","default":"\u7c7b\u540d","in":"formData","description":"\u7c7b\u540d\u79f0","required":true},{"type":"integer","name":"pid","default":"0","in":"formData","description":"\u7236id(\u9ed8\u8ba4\u4e3a0\u5219\u662f\u4e00\u7ea7\u5206\u7c7b)","required":false}],"description":"\u6dfb\u52a0\u5206\u7c7b","tags":["\u540e\u53f0"],"summary":"\u6dfb\u52a0\u5206\u7c7b","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/live\/category\/del":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"integer","name":"id","default":"1","in":"formData","description":"\u7c7bid","required":true}],"description":"\u5220\u9664\u5206\u7c7b","tags":["\u540e\u53f0"],"summary":"\u5220\u9664\u5206\u7c7b","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/live\/comment\/index":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"string","name":"visitor_name","default":"","in":"formData","description":"\u5b66\u5458\u59d3\u540d","required":false},{"type":"integer","name":"score","default":"","in":"formData","description":"\u8bc4\u5206","required":false},{"type":"string","name":"consulting_time","default":"","in":"formData","description":"\u5b9e\u9645\u54a8\u8be2\u65f6\u95f4","required":false},{"type":"integer","name":"pageSize","default":"15","in":"formData","description":"\u83b7\u53d6\u6570\u91cf","required":false},{"type":"integer","name":"page","default":"1","in":"formData","description":"\u9875\u7801","required":false}],"description":"\u83b7\u53d6\u54a8\u8be2\u5e08\u7684\u8bc4\u8bba\u5217\u8868","tags":["\u540e\u53f0"],"summary":"\u8bc4\u8bba\u5217\u8868","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/live\/comment\/score-tags":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"}],"description":"\u83b7\u53d6\u8bc4\u5206\u6807\u7b7e","tags":["\u540e\u53f0"],"summary":"\u8bc4\u5206\u6807\u7b7e\u5217\u8868","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/live\/comment\/tags-add":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"integer","name":"score","default":"1","in":"formData","description":"\u8bc4\u5206","required":true},{"type":"string","name":"score_tag","default":"","in":"formData","description":"\u8bc4\u5206\u6807\u7b7e","required":true}],"description":"\u6dfb\u52a0\u8bc4\u5206\u6807\u7b7e","tags":["\u540e\u53f0"],"summary":"\u8bc4\u5206\u6807\u7b7e\u6dfb\u52a0","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/live\/comment\/tags-del":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"integer","name":"id","default":"","in":"formData","description":"\u6807\u7b7eid","required":true}],"description":"\u5220\u9664\u8bc4\u5206\u6807\u7b7e","tags":["\u540e\u53f0"],"summary":"\u5220\u9664\u8bc4\u5206\u6807\u7b7e","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/live\/consultation\/index":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"int","name":"page","default":"1","in":"formData","description":"\u9875\u7801","required":false},{"type":"string","name":"visitorName","default":"","in":"formData","description":"\u54a8\u8be2\u8005\u59d3\u540d","required":false},{"type":"string","name":"reserveName","default":"","in":"formData","description":"\u9884\u7ea6\u4eba\u59d3\u540d","required":false},{"type":"int","name":"appointmentTime","default":"","in":"formData","description":"\u9884\u7ea6\u65f6\u95f4\u7684\u65f6\u95f4\u6233","required":false},{"type":"int","name":"pageSize","default":"15","in":"formData","description":"\u9875\u9762\u6570\u636e\u91cf(1-50)","required":false}],"description":"\u9884\u7ea6\u5355\u5217\u8868","tags":["\u540e\u53f0"],"summary":"\u9884\u7ea6\u5355\u5217\u8868","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u641c\u7d22\u6210\u529f"}}}},"\/live\/consultation\/add":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"string","name":"visitorName","default":"","in":"formData","description":"\u54a8\u8be2\u8005\u59d3\u540d","required":true},{"type":"string","name":"reserveName","default":"","in":"formData","description":"\u9884\u7ea6\u4eba\u59d3\u540d","required":true},{"type":"int","name":"appointmentTime","default":"","in":"formData","description":"\u9884\u7ea6\u65f6\u95f4\u6233","required":true}],"description":"\u65b0\u5efa\u9884\u7ea6\u5355(\u65b0\u5efa\u76f4\u64ad\u5ba4)","tags":["\u540e\u53f0"],"summary":"\u65b0\u5efa\u9884\u7ea6\u5355(\u65b0\u5efa\u76f4\u64ad\u5ba4)","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u670d\u52a1\u5668\u5185\u90e8\u9519\u8bef"}}}},"\/live\/consultation\/qr":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"int","name":"courseId","default":"","in":"formData","description":"\u54a8\u8be2\u5ba4Id","required":true}],"description":"\u83b7\u53d6\u76f4\u64ad\u5ba4\u7684\u4e8c\u7ef4\u7801","tags":["\u540e\u53f0"],"summary":"\u83b7\u53d6\u76f4\u64ad\u5ba4\u7684\u4e8c\u7ef4\u7801","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u53c2\u6570\u9519\u8bef"}}}},"\/live\/course\/get-authority":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"int","name":"courseId","default":"","in":"formData","description":"\u54a8\u8be2\u5ba4Id","required":true}],"description":"\u9a8c\u8bc1\u8fdb\u5165\u54a8\u8be2\u5ba4(\u76f4\u64ad\u95f4)\u7684\u6743\u9650","tags":["\u540e\u53f0"],"summary":"\u9a8c\u8bc1\u8fdb\u5165\u54a8\u8be2\u5ba4(\u76f4\u64ad\u95f4)\u7684\u6743\u9650","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u670d\u52a1\u5668\u5185\u90e8\u9519\u8bef"}}}},"\/live\/docs\/index":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"string","name":"originalName","default":"","in":"formData","description":"\u6587\u4ef6\u540d\u79f0","required":false},{"type":"integer","name":"category_id","default":"","in":"formData","description":"\u7c7b\u578bid","required":false},{"type":"integer","name":"page","default":"1","in":"formData","description":"\u9875\u7801","required":false},{"type":"integer","name":"pageSize","default":"15","in":"formData","description":"\u6bcf\u9875\u6570\u91cf","required":false}],"description":"\u83b7\u53d6\u6587\u4ef6\u5217\u8868","tags":["\u540e\u53f0"],"summary":"\u6587\u4ef6\u5217\u8868","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/live\/docs\/add":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"integer","name":"id","default":"","in":"formData","description":"\u6587\u4ef6id,\u5982\u679c\u4f20\u5165\u8be5\u53c2\u6570\u5219\u662f\u4fee\u6539\u6587\u4ef6","required":false},{"type":"string","name":"originalName","default":"0","in":"formData","description":"\u6587\u4ef6\u540d\u79f0","required":true},{"type":"integer","name":"category_id","default":"","in":"formData","description":"\u7c7b\u578bid","required":true},{"type":"string","name":"path","default":"","in":"formData","description":"\u6587\u4ef6\u8def\u5f84","required":false}],"description":"\uff08\u6dfb\u52a0|\u4fee\u6539\uff09\u6587\u4ef6","tags":["\u540e\u53f0"],"summary":"\uff08\u6dfb\u52a0|\u4fee\u6539\uff09\u6587\u4ef6","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/live\/docs\/info":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"integer","name":"id","default":"0","in":"formData","description":"\u6587\u4ef6id","required":true}],"description":"\u6587\u4ef6\u4fe1\u606f","tags":["\u540e\u53f0"],"summary":"\u6587\u4ef6\u4fe1\u606f","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/live\/docs\/del":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"integer","name":"id","default":"\u6587\u4ef6id","in":"formData","description":"\u6587\u4ef6id","required":true}],"description":"\u5220\u9664\u6587\u4ef6","tags":["\u540e\u53f0"],"summary":"\u5220\u9664\u6587\u4ef6","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/live\/docs\/upload":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"file","name":"Upload[file]","default":"","in":"formData","description":"\u6587\u4ef6name","required":false}],"description":"\u4e0a\u4f20\u6587\u4ef6","tags":["\u540e\u53f0"],"summary":"\u4e0a\u4f20\u6587\u4ef6","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/live\/index\/login":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"string","name":"u","default":"sddvM6Qz69MEjFp8EyPP9g==","in":"formData","description":"\u52a0\u5bc6\u540e\u7684\u7528\u6237\u8d26\u53f7","required":false}],"description":"\u767b\u9646-\u83b7\u53d6\u7528\u7528\u6237\u4fe1\u606f","tags":["\u540e\u53f0"],"summary":"\u767b\u9646","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/live\/index\/logout":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"}],"description":"\u9000\u51fa\u767b\u9646","tags":["\u540e\u53f0"],"summary":"\u9000\u51fa\u767b\u9646","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/live\/video\/index":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"int","name":"page","default":"1","in":"formData","description":"\u9875\u7801","required":false},{"type":"string","name":"visitorName","default":"","in":"formData","description":"\u5b66\u5458(\u5230\u8bbf\u8005)\u59d3\u540d","required":false},{"type":"string","name":"adviserName","default":"","in":"formData","description":"\u8bfe\u7a0b\u987e\u95ee\u59d3\u540d","required":false},{"type":"string","name":"appointmentTime","default":"","in":"formData","description":"\u9884\u7ea6\u65f6\u95f4\u7684(\u65e5\u671f\u5b57\u7b26\u4e32)","required":false},{"type":"int","name":"pageSize","default":"15","in":"formData","description":"\u9875\u9762\u6570\u636e\u91cf(1-50)","required":false},{"type":"int","name":"regionId","default":"","in":"formData","description":"\u5927\u533aid","required":false}],"description":"\u89c6\u9891\u5217\u8868","tags":["\u540e\u53f0"],"summary":"\u89c6\u9891\u5217\u8868","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u641c\u7d22\u6210\u529f"}}}},"\/live\/video\/regions":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"}],"description":"\u83b7\u5f97\u6240\u6709\u5927\u533a","tags":["\u540e\u53f0"],"summary":"\u83b7\u5f97\u6240\u6709\u5927\u533a","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u641c\u7d22\u6210\u529f"}}}},"\/sloa\/index\/single-upload":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"file","name":"Upload[file]","default":"","in":"formData","description":"\u4e0a\u4f20\u7684\u6587\u4ef6","required":true}],"description":"\u4e0a\u4f20\u5355\u4e2a\u6587\u4ef6","tags":["\u5206\u6821\u7ba1\u7406\u540e\u53f0"],"summary":"\u4e0a\u4f20\u5355\u4e2a\u6587\u4ef6","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}}},"definitions":[]}