{"swagger":"2.0","info":{"version":"1.0.0","title":"\u5206\u6821\u5c0f\u7a0b\u5e8f","description":"","contact":{"name":"\u5f20\u9e4f\u5a23"},"license":{"name":"MIT"}},"host":"www.swaggertest.com","basePath":"","schemes":["http"],"consumes":["application\/json"],"produces":["application\/json"],"tags":[],"paths":{"\/wifi\/v1\/backend\/application\/index":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"}],"description":"\u5c0f\u7a0b\u5e8f\u5217\u8868","tags":["\u5206\u6821\u540e\u53f0-\u7d20\u6750\u7ba1\u7406"],"summary":"\u5c0f\u7a0b\u5e8f\u5217\u8868","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/backend\/application\/position":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"integer","name":"application_id","default":"1","in":"formData","description":"\u5c0f\u7a0b\u5e8fid","required":true},{"type":"string","name":"type","default":"material","in":"formData","description":"\u7c7b\u578b:material:\u7d20\u6750","required":false}],"description":"\u5c0f\u7a0b\u5e8f\u5bf9\u5e94\u4f4d\u7f6e\u5217\u8868","tags":["\u5206\u6821\u540e\u53f0-\u7d20\u6750\u7ba1\u7406"],"summary":"\u5c0f\u7a0b\u5e8f\u5bf9\u5e94\u4f4d\u7f6e\u5217\u8868","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/backend\/course\/index":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"string","name":"name","default":"","in":"formData","description":"\u5916\u90e8\u8d44\u6e90\u540d","required":false},{"type":"integer","name":"application_id","default":"","in":"formData","description":"\u5c0f\u7a0b\u5e8fid","required":false},{"type":"integer","name":"position_id","default":"","in":"formData","description":"\u4f4d\u7f6eid","required":false},{"type":"integer","name":"status","default":"","in":"formData","description":"\u72b6\u6001","required":false},{"type":"integer","name":"pageSize","default":"15","in":"formData","description":"\u83b7\u53d6\u6570\u91cf","required":false},{"type":"integer","name":"page","default":"1","in":"formData","description":"\u9875\u7801","required":false}],"description":"\u83b7\u53d6\u5916\u90e8\u8d44\u6e90\u5217\u8868(\u8bfe\u7a0b)","tags":["\u5206\u6821\u540e\u53f0-\u5916\u90e8\u8d44\u6e90\u7ba1\u7406"],"summary":"\u5916\u90e8\u8d44\u6e90\u5217\u8868(\u8bfe\u7a0b)","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/backend\/course\/add":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"string","name":"name","default":"","in":"formData","description":"\u5916\u90e8\u8d44\u6e90\u540d","required":true},{"type":"integer","name":"position_id","default":"","in":"formData","description":"\u4f4d\u7f6eid","required":true},{"type":"integer","name":"sort","default":"0","in":"formData","description":"\u6743\u91cd(\u6392\u5e8f\uff1a\u5927->\u5c0f)","required":false},{"type":"integer","name":"out_course_id","default":"","in":"formData","description":"\u5916\u90e8\u8d44\u6e90id()","required":false},{"type":"string","name":"cover_img","default":"","in":"formData","description":"\u5916\u90e8\u8d44\u6e90\u5c01\u9762\u56fe","required":false},{"type":"integer","name":"go_type","default":"","in":"formData","description":"\u8df3\u8f6c\u7c7b\u578b(0.\u4e0d\u8df3\u8f6c1.\u5f53\u524d\u5c0f\u7a0b\u5e8f2.\u5916\u90e8\u5c0f\u7a0b\u5e8f3.h5\u5730\u5740')","required":false},{"type":"integer","name":"status","default":"","in":"formData","description":"\u72b6\u6001\uff080.\u672a\u53d1\u5e031.\u5df2\u53d1\u5e03\uff09","required":false},{"type":"string","name":"appid","default":"","in":"formData","description":"\u5c0f\u7a0b\u5e8fappid(go_type=2\u5fc5\u586b)","required":false},{"type":"string","name":"page_path","default":"","in":"formData","description":"\u5c0f\u7a0b\u5e8f\u9875\u9762\u5730\u5740(go_type=2\u6216\u80051\u5fc5\u586b)","required":false},{"type":"string","name":"link","default":"","in":"formData","description":"\u94fe\u63a5\u5730\u5740(go_type=3\u5fc5\u586b)","required":false},{"type":"string","name":"label","default":"","in":"formData","description":"\u6807\u7b7e","required":false}],"description":"\u5916\u90e8\u8d44\u6e90\u6dfb\u52a0","tags":["\u5206\u6821\u540e\u53f0-\u5916\u90e8\u8d44\u6e90\u7ba1\u7406"],"summary":"\u5916\u90e8\u8d44\u6e90\u6dfb\u52a0","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/backend\/course\/update":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"integer","name":"id","default":"","in":"formData","description":"\u5916\u90e8\u8d44\u6e90id","required":true},{"type":"string","name":"name","default":"","in":"formData","description":"\u5916\u90e8\u8d44\u6e90\u540d","required":true},{"type":"integer","name":"position_id","default":"","in":"formData","description":"\u4f4d\u7f6eid","required":true},{"type":"integer","name":"sort","default":"0","in":"formData","description":"\u6743\u91cd(\u6392\u5e8f\uff1a\u5927->\u5c0f)","required":false},{"type":"integer","name":"out_course_id","default":"formData","in":"\u5916\u90e8\u8d44\u6e90id","description":"","required":false},{"type":"string","name":"cover_img","default":"","in":"formData","description":"\u5916\u90e8\u8d44\u6e90\u5c01\u9762\u56fe","required":false},{"type":"integer","name":"go_type","default":"","in":"formData","description":"\u8df3\u8f6c\u7c7b\u578b(0.\u4e0d\u8df3\u8f6c1.\u5f53\u524d\u5c0f\u7a0b\u5e8f2.\u5916\u90e8\u5c0f\u7a0b\u5e8f3.h5\u5730\u5740')","required":false},{"type":"integer","name":"status","default":"","in":"formData","description":"\u72b6\u6001\uff080.\u672a\u53d1\u5e031.\u5df2\u53d1\u5e03\uff09","required":false},{"type":"string","name":"appid","default":"","in":"formData","description":"\u5c0f\u7a0b\u5e8fappid(go_type=2\u5fc5\u586b)","required":false},{"type":"string","name":"page_path","default":"","in":"formData","description":"\u5c0f\u7a0b\u5e8f\u9875\u9762\u5730\u5740(go_type=2\u6216\u80051\u5fc5\u586b)","required":false},{"type":"string","name":"link","default":"","in":"formData","description":"\u94fe\u63a5\u5730\u5740(go_type=3\u5fc5\u586b)","required":false}],"description":"\u5916\u90e8\u8d44\u6e90\u7f16\u8f91","tags":["\u5206\u6821\u540e\u53f0-\u5916\u90e8\u8d44\u6e90\u7ba1\u7406"],"summary":"\u5916\u90e8\u8d44\u6e90\u7f16\u8f91","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/backend\/course\/update-status":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"integer","name":"id","default":"","in":"formData","description":"\u5916\u90e8\u8d44\u6e90id","required":true},{"type":"integer","name":"status","default":"","in":"formData","description":"\u72b6\u6001\uff080.\u672a\u53d1\u5e031.\u5df2\u53d1\u5e03\uff09","required":false}],"description":"\u5916\u90e8\u8d44\u6e90\u5207\u6362\u72b6\u6001","tags":["\u5206\u6821\u540e\u53f0-\u5916\u90e8\u8d44\u6e90\u7ba1\u7406"],"summary":"\u5916\u90e8\u8d44\u6e90\u5207\u6362\u72b6\u6001","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/backend\/course\/detail":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"integer","name":"id","default":"","in":"formData","description":"\u5916\u90e8\u8d44\u6e90id","required":true}],"description":"\u5916\u90e8\u8d44\u6e90\u8be6\u60c5(\u67e5\u770b,\u7f16\u8f91)","tags":["\u5206\u6821\u540e\u53f0-\u5916\u90e8\u8d44\u6e90\u7ba1\u7406"],"summary":"\u5916\u90e8\u8d44\u6e90\u8be6\u60c5(\u67e5\u770b,\u7f16\u8f91)","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/backend\/course\/del":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"integer","name":"id","default":"","in":"formData","description":"\u5916\u90e8\u8d44\u6e90id","required":true}],"description":"\u5916\u90e8\u8d44\u6e90\u5220\u9664","tags":["\u5206\u6821\u540e\u53f0-\u5916\u90e8\u8d44\u6e90\u7ba1\u7406"],"summary":"\u5916\u90e8\u8d44\u6e90\u5220\u9664","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/backend\/course\/upload":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"file","name":"Upload[file]","default":"","in":"formData","description":"\u6587\u4ef6name","required":false}],"description":"\u4e0a\u4f20\u6587\u4ef6","tags":["\u5206\u6821\u540e\u53f0-\u5916\u90e8\u8d44\u6e90\u7ba1\u7406"],"summary":"\u4e0a\u4f20\u6587\u4ef6","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/backend\/feedback\/index":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"string","name":"date","default":"","in":"formData","description":"\u65f6\u95f4(2015-05-06)","required":false},{"type":"integer","name":"application_id","default":"","in":"formData","description":"\u5c0f\u7a0b\u5e8fid","required":false},{"type":"integer","name":"pageSize","default":"15","in":"formData","description":"\u83b7\u53d6\u6570\u91cf","required":false},{"type":"integer","name":"page","default":"1","in":"formData","description":"\u9875\u7801","required":false}],"description":"\u95ee\u9898\u53cd\u9988\u5217\u8868","tags":["\u5206\u6821\u540e\u53f0-\u95ee\u9898\u53cd\u9988\u7ba1\u7406"],"summary":"\u95ee\u9898\u53cd\u9988\u5217\u8868","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}},"get":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"string","name":"date","default":"","in":"formData","description":"\u65f6\u95f4(2015-05-06)","required":false},{"type":"integer","name":"application_id","default":"","in":"formData","description":"\u5c0f\u7a0b\u5e8fid","required":false},{"type":"integer","name":"pageSize","default":"15","in":"formData","description":"\u83b7\u53d6\u6570\u91cf","required":false},{"type":"integer","name":"page","default":"1","in":"formData","description":"\u9875\u7801","required":false}],"description":"\u5bfc\u51faexcel\u53cd\u9988\u5217\u8868","tags":["\u5206\u6821\u540e\u53f0-\u95ee\u9898\u53cd\u9988\u7ba1\u7406"],"summary":"\u95ee\u9898\u53cd\u9988\u5217\u8868","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/backend\/feedback\/detail":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"integer","name":"id","default":"","in":"formData","description":"id","required":false}],"description":"\u95ee\u9898\u53cd\u9988\u8be6\u60c5","tags":["\u5206\u6821\u540e\u53f0-\u95ee\u9898\u53cd\u9988\u7ba1\u7406"],"summary":"\u95ee\u9898\u53cd\u9988\u8be6\u60c5","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/backend\/feedback\/del":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"integer","name":"id","default":"","in":"formData","description":"id","required":false}],"description":"\u95ee\u9898\u53cd\u9988\u5220\u9664","tags":["\u5206\u6821\u540e\u53f0-\u95ee\u9898\u53cd\u9988\u7ba1\u7406"],"summary":"\u95ee\u9898\u53cd\u9988\u5220\u9664","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/backend\/material\/index":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"string","name":"name","default":"","in":"formData","description":"\u7d20\u6750\u540d","required":false},{"type":"integer","name":"application_id","default":"","in":"formData","description":"\u5c0f\u7a0b\u5e8fid","required":false},{"type":"integer","name":"position_id","default":"","in":"formData","description":"\u4f4d\u7f6eid","required":false},{"type":"integer","name":"status","default":"","in":"formData","description":"\u72b6\u6001","required":false},{"type":"integer","name":"pageSize","default":"15","in":"formData","description":"\u83b7\u53d6\u6570\u91cf","required":false},{"type":"integer","name":"page","default":"1","in":"formData","description":"\u9875\u7801","required":false}],"description":"\u83b7\u53d6\u7d20\u6750\u5217\u8868","tags":["\u5206\u6821\u540e\u53f0-\u7d20\u6750\u7ba1\u7406"],"summary":"\u7d20\u6750\u5217\u8868","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/backend\/material\/add":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"string","name":"name","default":"","in":"formData","description":"\u7d20\u6750\u540d","required":true},{"type":"integer","name":"position_id","default":"","in":"formData","description":"\u4f4d\u7f6eid","required":true},{"type":"integer","name":"sort","default":"0","in":"formData","description":"\u6743\u91cd(\u6392\u5e8f\uff1a\u5c0f->\u5927)","required":false},{"type":"integer","name":"object_id","default":"","in":"formData","description":"\u5916\u90e8\u8d44\u6e90id(\u5217\u5982\uff1aschool_id[\u6821\u533aid]--->","required":false},{"type":"string","name":"cover_img","default":"","in":"formData","description":"\u7d20\u6750\u5c01\u9762\u56fe","required":false},{"type":"integer","name":"go_type","default":"","in":"formData","description":"\u8df3\u8f6c\u7c7b\u578b(0.\u4e0d\u8df3\u8f6c1.\u5f53\u524d\u5c0f\u7a0b\u5e8f2.\u5916\u90e8\u5c0f\u7a0b\u5e8f3.h5\u5730\u5740')","required":false},{"type":"integer","name":"status","default":"","in":"formData","description":"\u72b6\u6001\uff080.\u672a\u53d1\u5e031.\u5df2\u53d1\u5e03\uff09","required":false},{"type":"string","name":"appid","default":"","in":"formData","description":"\u5c0f\u7a0b\u5e8fappid(go_type=2\u5fc5\u586b)","required":false},{"type":"string","name":"page_path","default":"","in":"formData","description":"\u5c0f\u7a0b\u5e8f\u9875\u9762\u5730\u5740(go_type=2\u6216\u80051\u5fc5\u586b)","required":false},{"type":"string","name":"link","default":"","in":"formData","description":"\u94fe\u63a5\u5730\u5740(go_type=3\u5fc5\u586b)","required":false}],"description":"\u7d20\u6750\u6dfb\u52a0","tags":["\u5206\u6821\u540e\u53f0-\u7d20\u6750\u7ba1\u7406"],"summary":"\u7d20\u6750\u6dfb\u52a0","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/backend\/material\/update":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"integer","name":"id","default":"","in":"formData","description":"\u7d20\u6750id","required":true},{"type":"string","name":"name","default":"","in":"formData","description":"\u7d20\u6750\u540d","required":true},{"type":"integer","name":"position_id","default":"","in":"formData","description":"\u4f4d\u7f6eid","required":true},{"type":"integer","name":"sort","default":"0","in":"formData","description":"\u6743\u91cd(\u6392\u5e8f\uff1a\u5c0f->\u5927)","required":false},{"type":"integer","name":"object_id","default":"formData","in":"\u5916\u90e8\u8d44\u6e90id(\u5217\u5982\uff1aschool_id[\u6821\u533aid]--->","description":"\u6821\u533a\u80cc\u666f\u56fe,\u6821\u533a\u8be6\u60c5\u8f6e\u64ad\u56fe,\u6821\u533a\u5730\u56fe\u56fe\u7247)","required":false},{"type":"string","name":"cover_img","default":"","in":"formData","description":"\u7d20\u6750\u5c01\u9762\u56fe","required":false},{"type":"integer","name":"go_type","default":"","in":"formData","description":"\u8df3\u8f6c\u7c7b\u578b(0.\u4e0d\u8df3\u8f6c1.\u5f53\u524d\u5c0f\u7a0b\u5e8f2.\u5916\u90e8\u5c0f\u7a0b\u5e8f3.h5\u5730\u5740')","required":false},{"type":"integer","name":"status","default":"","in":"formData","description":"\u72b6\u6001\uff080.\u672a\u53d1\u5e031.\u5df2\u53d1\u5e03\uff09","required":false},{"type":"string","name":"appid","default":"","in":"formData","description":"\u5c0f\u7a0b\u5e8fappid(go_type=2\u5fc5\u586b)","required":false},{"type":"string","name":"page_path","default":"","in":"formData","description":"\u5c0f\u7a0b\u5e8f\u9875\u9762\u5730\u5740(go_type=2\u6216\u80051\u5fc5\u586b)","required":false},{"type":"string","name":"link","default":"","in":"formData","description":"\u94fe\u63a5\u5730\u5740(go_type=3\u5fc5\u586b)","required":false}],"description":"\u7d20\u6750\u7f16\u8f91","tags":["\u5206\u6821\u540e\u53f0-\u7d20\u6750\u7ba1\u7406"],"summary":"\u7d20\u6750\u7f16\u8f91","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/backend\/material\/update-status":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"integer","name":"id","default":"","in":"formData","description":"\u7d20\u6750id","required":true},{"type":"integer","name":"status","default":"","in":"formData","description":"\u72b6\u6001\uff080.\u672a\u53d1\u5e031.\u5df2\u53d1\u5e03\uff09","required":false}],"description":"\u7d20\u6750\u5207\u6362\u72b6\u6001","tags":["\u5206\u6821\u540e\u53f0-\u7d20\u6750\u7ba1\u7406"],"summary":"\u7d20\u6750\u5207\u6362\u72b6\u6001","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/backend\/material\/detail":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"integer","name":"id","default":"","in":"formData","description":"\u7d20\u6750id","required":true}],"description":"\u7d20\u6750\u8be6\u60c5(\u67e5\u770b,\u7f16\u8f91)","tags":["\u5206\u6821\u540e\u53f0-\u7d20\u6750\u7ba1\u7406"],"summary":"\u7d20\u6750\u8be6\u60c5(\u67e5\u770b,\u7f16\u8f91)","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/backend\/material\/del":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"integer","name":"id","default":"","in":"formData","description":"\u7d20\u6750id","required":true}],"description":"\u7d20\u6750\u5220\u9664","tags":["\u5206\u6821\u540e\u53f0-\u7d20\u6750\u7ba1\u7406"],"summary":"\u7d20\u6750\u5220\u9664","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/backend\/material\/upload":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"file","name":"Upload[file]","default":"","in":"formData","description":"\u6587\u4ef6name","required":false}],"description":"\u4e0a\u4f20\u6587\u4ef6","tags":["\u5206\u6821\u540e\u53f0-\u7d20\u6750\u7ba1\u7406"],"summary":"\u4e0a\u4f20\u6587\u4ef6","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/backend\/order\/excel-down":{"get":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"string","name":"date","default":"","in":"query","description":"\u65f6\u95f4(2015-05-06)","required":false},{"type":"integer","name":"school_id","default":"","in":"query","description":"\u6821\u533aid","required":false},{"type":"integer","name":"status","default":"","in":"query","description":"\u72b6\u6001(0\u672a\u8fc7\u671f,1\u5df2\u8fc7\u671f)","required":false}],"description":"\u95ee\u9898\u53cd\u9988\u5217\u8868","tags":["\u5206\u6821\u540e\u53f0-\u95ee\u9898\u53cd\u9988\u7ba1\u7406"],"summary":"\u95ee\u9898\u53cd\u9988\u5217\u8868","responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/backend\/school\/index":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"}],"description":"\u6821\u533a\u5217\u8868","tags":["\u5206\u6821\u540e\u53f0-\u7d20\u6750\u7ba1\u7406"],"summary":"\u6821\u533a\u5217\u8868 [\u7d20\u6750\u6dfb\u52a0\u4f4d\u7f6e(\u5206\u6821\u80cc\u666f\u56fe,\u5206\u6821\u5730\u56fe\u56fe\u7247,\u5206\u6821\u8be6\u60c5\u8f6e\u64ad) \u65f6\u9700\u8981\u9009\u7528\u7ed1\u5b9a]","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/card\/index":{"post":{"parameters":[{"type":"string","name":"openid","default":"","in":"formData","description":"openid","required":true}],"description":"\u6211\u7684\u5361\u5305","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u5361\u5305","\u5206\u6821\u5c0f\u7a0b\u5e8f-\u4e2a\u4eba\u4fe1\u606f"],"summary":"\u6211\u7684\u5361\u5305","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/card\/receive":{"post":{"parameters":[{"type":"string","name":"openid","default":"","in":"formData","description":"openid","required":true},{"type":"string","name":"card_name","default":"","in":"formData","description":"\u5361\u5305\u6807\u9898","required":true},{"type":"integer","name":"school_id","default":"","in":"formData","description":"\u6821\u533aid","required":true},{"type":"integer","name":"usage_time","default":"","in":"formData","description":"\u9650\u65f6(\u5c0f\u65f6)","required":false}],"description":"\u5361\u5305\u9886\u53d6","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u5361\u5305","\u5206\u6821\u5c0f\u7a0b\u5e8f-\u6821\u533a\u9875"],"summary":"\u5361\u5305\u9886\u53d6","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/card\/info":{"post":{"parameters":[{"type":"string","name":"openid","default":"","in":"formData","description":"openid","required":true},{"type":"integer","name":"id","default":"","in":"formData","description":"\u5361\u5305id","required":true}],"description":"\u5361\u5305\u8be6\u7ec6","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u5361\u5305"],"summary":"\u5361\u5305\u8be6\u7ec6","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0","examples":{"application\/json":{"resultMark":"success","code":200,"data":{"card_name":"\u5361\u5305\u540d\u79f0","usage_time":"\u9650\u65f6(\u5c0f\u65f6)","school_id":"\u6821\u533aid","expire_time":"\u8fc7\u671f\u65f6\u95f4(2018-06-12 17:05:14)","status":"\u5361\u5305\u72b6\u6001(3.\u9650\u671f\u5df2\u8fc7\u671f,1.\u9650\u671f\u672a\u8fc7\u671f,2.\u4e0d\u9650\u671f,)","school_name":"\u6821\u533a\u540d\u79f0","address":"\u6821\u533a\u5730\u5740","longitude":"\u6821\u533a\u7ecf\u5ea6","latitude":"\u7eac\u5ea6\u6821\u533a","phone":"\u6821\u533a\u53f7\u7801\uff08010-52859695\uff09","school_start_time":"\u6821\u533a\u8425\u4e1a\u65f6\u95f4(9:00 - 18:00)"},"message":""}}}}}},"\/wifi\/v1\/frontend\/consultation\/student-info":{"post":{"parameters":[{"type":"integer","name":"consu_id","default":"","in":"formData","description":"\u54a8\u8be2id","required":true}],"description":"\u83b7\u53d6\u54a8\u8be2\u4fe1\u606f","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u54a8\u8be2\u5361\u9875"],"summary":"\u6839\u636e\u54a8\u8be2ID\u83b7\u53d6\u4fe1\u606f","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/consultation\/tag":{"get":{"description":"\u83b7\u53d6\u6821\u533a\u6807\u7b7e\u4fe1\u606f","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u54a8\u8be2\u5361\u9875"],"summary":"\u83b7\u53d6\u6821\u533a\u6807\u7b7e\u4fe1\u606f","responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/consultation\/evaluate":{"post":{"parameters":[{"type":"integer","name":"consu_id","default":"","in":"formData","description":"\u54a8\u8be2id","required":true},{"type":"integer","name":"teacher_level","default":"","in":"formData","description":"\u6559\u5e08\u8bc4\u5206","required":true},{"type":"integer","name":"school_level","default":"","in":"formData","description":"\u6821\u533a\u8bc4\u5206","required":true},{"type":"integer","name":"tag_id","default":"","in":"formData","description":"\u6807\u7b7eid","required":false},{"type":"string","name":"content","default":"","in":"formData","description":"\u8bc4\u4ef7\u5185\u5bb9","required":false}],"description":"H5\u9875\u9762\u8bc4\u4ef7\u63d0\u4ea4","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u54a8\u8be2\u5361\u9875"],"summary":"H5\u9875\u9762\u8bc4\u4ef7\u63d0\u4ea4","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/customized\/index":{"post":{"parameters":[{"type":"string","name":"openid","default":"","in":"formData","description":"\u5c0f\u7a0b\u5e8fopenid","required":true},{"type":"integer","name":"customized_status","default":"","in":"formData","description":"\u5b9a\u5236\u72b6\u6001(1\u7b2c\u4e00\u6b65,2\u7b2c\u4e8c\u6b65,3\u7b2c\u4e09\u6b65),\u4e0d\u4f20\u5219\u662f\u67e5\u8be2\u5b9a\u5236\u4fe1\u606f","required":false},{"type":"string","name":"sex","default":"","in":"formData","description":"(1)\u6027\u522b(man,girl)","required":false},{"type":"integer","name":"age","default":"","in":"formData","description":"(1)\u5e74\u9f84","required":false},{"type":"string","name":"education","default":"","in":"formData","description":"(1)\u5b66\u5386(secondary_vocational:\u4e2d\u804c,junior_college:\u5927\u4e13,undergraduate:\u672c\u79d1,postgraduate:\u7814\u7a76\u751f)","required":false},{"type":"integer","name":"province_id","default":"","in":"formData","description":"(1)\u7701\u4efdid","required":false},{"type":"integer","name":"industry_id","default":"","in":"formData","description":"(2)\u884c\u4e1aid","required":false},{"type":"integer","name":"working_life","default":"","in":"formData","description":"(2)\u5de5\u4f5c\u5e74\u9650","required":false},{"type":"integer","name":"salary_expectation","default":"","in":"formData","description":"(2)\u671f\u671b\u85aa\u8d44","required":false},{"type":"string","name":"learning_labels","default":"","in":"formData","description":"(3)\u5b66\u4e60\u6807\u7b7e(\u591a\u4e2a\u4ee5\u82f1\u6587\u9017\u53f7\u5206\u9694)","required":false}],"description":"\u5b9a\u5236\u4e09\u6b65","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u79c1\u4eba\u5b9a\u5236"],"summary":"\u5b9a\u5236\u4e09\u6b65","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/customized\/detail":{"post":{"parameters":[{"type":"string","name":"openid","default":"","in":"formData","description":"openid","required":true}],"description":"\u5b9a\u5236\u8be6\u7ec6\u9875","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u79c1\u4eba\u5b9a\u5236"],"summary":"\u751f\u6210\u62a5\u544a,\u5b9a\u5236\u8be6\u7ec6\u9875","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/customized\/major-detail":{"post":{"parameters":[{"type":"string","name":"openid","default":"","in":"formData","description":"openid","required":true},{"type":"integer","name":"major_id","default":"","in":"formData","description":"\u4e13\u4e1aid","required":true}],"description":"\u8ba1\u5212\u8be6\u60c5","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u79c1\u4eba\u5b9a\u5236"],"summary":"\u8ba1\u5212\u8be6\u60c5(\u4e13\u4e1a\u7279\u70b9,\u4e13\u4e1a\u540d\u79f0,\u4e13\u4e1a\u5bf9\u5e94\u7684\u9662\u6821,\u4e13\u4e1a\u79d1\u76ee)","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/customized\/update":{"post":{"parameters":[{"type":"string","name":"openid","default":"","in":"formData","description":"openid","required":true},{"type":"string","name":"sex","default":"","in":"formData","description":"\u6027\u522b(man,girl)","required":false},{"type":"integer","name":"age","default":"","in":"formData","description":"\u5e74\u9f84","required":false},{"type":"string","name":"education","default":"","in":"formData","description":"\u5b66\u5386(secondary_vocational:\u4e2d\u804c,junior_college:\u5927\u4e13,undergraduate:\u672c\u79d1,postgraduate:\u7814\u7a76\u751f)","required":false},{"type":"integer","name":"industry_id","default":"","in":"formData","description":"\u884c\u4e1aid","required":false},{"type":"integer","name":"working_life","default":"","in":"formData","description":"\u5de5\u4f5c\u5e74\u9650","required":false},{"type":"integer","name":"salary_expectation","default":"","in":"formData","description":"\u671f\u671b\u85aa\u8d44","required":false},{"type":"string","name":"learning_labels","default":"","in":"formData","description":"\u5b66\u4e60\u6807\u7b7e(\u591a\u4e2a\u4ee5\u82f1\u6587\u9017\u53f7\u5206\u9694)","required":false}],"description":"\u6863\u6848\u4fee\u6539","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u79c1\u4eba\u5b9a\u5236"],"summary":"\u6863\u6848\u4fee\u6539","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/customized\/industry":{"post":{"description":"\u884c\u4e1a\u5217\u8868(\u7b2c\u4e8c\u6b65)","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u79c1\u4eba\u5b9a\u5236"],"summary":"\u884c\u4e1a\u5217\u8868(\u7b2c\u4e8c\u6b65)","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/customized\/adviser":{"post":{"parameters":[{"type":"string","name":"openid","default":"","in":"formData","description":"openid","required":true},{"type":"number","name":"lon","default":"","in":"formData","description":"\u7ecf\u5ea6","required":false},{"type":"number","name":"lat","default":"","in":"formData","description":"\u7eac\u5ea6","required":false}],"description":"\u7acb\u5373\u9884\u7ea6,\u9884\u7ea6\u8bfe\u987e\u5217\u8868","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u79c1\u4eba\u5b9a\u5236"],"summary":"\u7acb\u5373\u9884\u7ea6,\u9884\u7ea6\u8bfe\u987e\u5217\u8868","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/customized\/labels":{"post":{"parameters":[{"type":"string","name":"openid","default":"","in":"formData","description":"openid","required":true}],"description":"\u6807\u7b7e\u5217\u8868(\u7b2c\u4e09\u6b65)","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u79c1\u4eba\u5b9a\u5236"],"summary":"\u6807\u7b7e\u5217\u8868(\u7b2c\u4e09\u6b65)","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/exam\/major-college":{"post":{"parameters":[{"type":"string","name":"major_name","default":"","in":"formData","description":"\u4e13\u4e1a\u540d\u79f0","required":true},{"type":"string","name":"major_type","default":"\u672c\u79d1","in":"formData","description":"\u4e13\u4e1a\u7c7b\u578b(\u672c\u79d1|\u4e13\u79d1|\u7814\u7a76\u751f)","required":true},{"type":"integer","name":"province_id","default":"","in":"formData","description":"\u7701\u4efdid","required":false}],"description":"\u6839\u636e\u4e13\u4e1a\u83b7\u53d6\u9662\u6821","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u8003\u8bd5"],"summary":"\u4e13\u4e1a\u4e0b\u7684\u9662\u6821 ()","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/exam\/major-list":{"post":{"parameters":[{"type":"ingeter","name":"province_id","default":"","in":"formData","description":"\u7701id(\u53ef\u4e0d\u4f20)","required":false},{"type":"string","name":"major_type","default":"\u672c\u79d1","in":"formData","description":"\u4e13\u4e1a\u7c7b\u578b(\u672c\u79d1|\u4e13\u79d1|\u7814\u7a76\u751f|\u8d44\u683c\u8bc1)","required":true}],"description":"\u4e13\u4e1a\u5217\u8868","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u8003\u8bd5"],"summary":"\u4e13\u4e1a\u5217\u8868","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/exam\/major-detail":{"post":{"parameters":[{"type":"integer","name":"major_id","default":"","in":"formData","description":"\u4e13\u4e1aid","required":false}],"description":"\u4e13\u4e1a\u8be6\u60c5","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u8003\u8bd5"],"summary":"\u4e13\u4e1a\u8be6\u60c5\uff08\u4e13\u4e1a\u63cf\u8ff0,\u5c31\u4e1a\u65b9\u5411,\u5c31\u4e1a\u7279\u70b9\uff09","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/exam\/major-subject":{"post":{"parameters":[{"type":"string","name":"major_name","default":"","in":"formData","description":"\u4e13\u4e1a\u540d\u79f0","required":true},{"type":"string","name":"college_name","default":"","in":"formData","description":"\u5b66\u9662\u540d\u79f0","required":false}],"description":"\u4e13\u4e1a\u5b66\u9662\u4e0b\u7684\u79d1\u76ee","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u8003\u8bd5"],"summary":"\u4e13\u4e1a\u5b66\u9662\u4e0b\u7684\u79d1\u76ee","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0","examples":{"application\/json":{"resultMark":"success","code":200,"data":{"subjects":[{"subject_complex_id":"242","major_id":"41","major_code":"561655","major_name":"MBA","subject_id":"2","college_id":"8","province":"\u5317\u4eac","is_show":"1","subject_name":"\u79d1\u76ee\u540d\u79f0","college_name":"\u9662\u6821\u540d\u79f0","score":"\u5b66\u5206(259)","remark":"\u5907\u6ce8","is_require":"\u5426","major":[{"id":"41","value":"MBA"}],"college":[{"id":"8","value":"\u6cb3\u5317\u5927\u5b66"}],"subject":[{"id":"2","value":"\u57fa\u7840\u4f1a\u8ba1\u5b66"}]}],"subject_count":1},"message":""}}}}}},"\/wifi\/v1\/frontend\/exam\/major-class":{"post":{"parameters":[{"type":"string","name":"major_name","default":"","in":"formData","description":"\u4e13\u4e1a\u540d\u79f0","required":true},{"type":"string","name":"major_type","default":"","in":"formData","description":"\u4e13\u4e1a\u7c7b\u578b(\u672c\u79d1|\u4e13\u79d1|\u7814\u7a76\u751f|\u8d44\u683c\u8bc1)","required":true}],"description":"\u83b7\u53d6\u73ed\u578b","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u8003\u8bd5"],"summary":"\u83b7\u53d6\u73ed\u578b","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/feedback\/index":{"post":{"parameters":[{"type":"string","name":"openid","default":"","in":"formData","description":"openid","required":true},{"type":"string","name":"message","default":"","in":"formData","description":"\u95ee\u9898","required":true},{"type":"string","name":"phone","default":"","in":"formData","description":"\u624b\u673a\u53f7\u7801","required":true}],"description":"\u95ee\u9898\u53cd\u9988","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u4e2a\u4eba\u4fe1\u606f"],"summary":"\u95ee\u9898\u53cd\u9988","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/index\/index":{"post":{"description":"\u9996\u9875\u6570\u636e","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u9996\u9875"],"summary":"\u9996\u9875(\u9876\u90e8\u8f6e\u64ad\u56fe,\u5e95\u90e8\u4f18\u9009\u8bfe\u7a0b)","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/index\/school":{"post":{"parameters":[{"type":"number","name":"lon","default":"","in":"formData","description":"\u7ecf\u5ea6","required":false},{"type":"number","name":"lat","default":"","in":"formData","description":"\u7eac\u5ea6","required":false}],"description":"\u6709\u5b9a\u4f4d\u6700\u8fd1\u7684\u4e00\u4e2a \u6ca1\u6709\u5219\u83b7\u53d6\u63a8\u8350\u7684\u524d\u516d\u4e2a","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u9996\u9875"],"summary":"\u83b7\u53d6\u5b9a\u4f4d\u6821\u533a,\u6216\u65e0\u5b9a\u4f4d\u524d\u516d\u4e2a\u6821\u533a","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0c"}}}},"\/wifi\/v1\/frontend\/index\/get-openid":{"post":{"parameters":[{"type":"string","name":"code","default":"","in":"formData","description":"code","required":true}],"description":"\u5c0f\u7a0b\u5e8f\u767b\u9646\u6388\u6743","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u9996\u9875"],"summary":"\u5c0f\u7a0b\u5e8f\u767b\u9646\u6388\u6743","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/index\/decode-phone":{"post":{"parameters":[{"type":"string","name":"iv","default":"","in":"formData","description":"\u5c0f\u7a0b\u5e8f\u52a0\u5bc6\u65f6\u7684iv","required":true},{"type":"string","name":"openid","default":"","in":"formData","description":"openid","required":true},{"type":"string","name":"decrypt_data","default":"","in":"formData","description":"\u52a0\u5bc6\u6570\u636e","required":true}],"description":"\u624b\u673a\u53f7\u6388\u6743\u89e3\u5bc6\u6570\u636e","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u9996\u9875"],"summary":"\u624b\u673a\u53f7\u6388\u6743\u89e3\u5bc6\u6570\u636e","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/index\/user-info":{"post":{"parameters":[{"type":"string","name":"openid","default":"","in":"formData","description":"openid","required":true},{"type":"string","name":"avatar","default":"","in":"formData","description":"\u5934\u50cf\u5730\u5740","required":true},{"type":"string","name":"nickname","default":"","in":"formData","description":"\u7528\u6237\u6635\u79f0","required":true}],"description":"\u4fdd\u5b58\u7528\u6237\u4fe1\u606f","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u9996\u9875"],"summary":"\u4fdd\u5b58\u7528\u6237\u4fe1\u606f","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/index\/image-resize\/{width}\/{height}\/{is_ep}\/{path}":{"get":{"parameters":[{"type":"integer","name":"width","default":"","in":"path","description":"\u5bbd\u5ea6","required":true},{"type":"integer","name":"height","default":"","in":"path","description":"\u9ad8\u5ea6","required":true},{"type":"integer","name":"is_ep","default":"","in":"path","description":"\u662f\u5426\u7b49\u6bd4","required":true},{"type":"string","name":"path","default":"","in":"path","description":"\u56fe\u7247\u5730\u5740(uploads\/20180330\/55566548.jpg)","required":true}],"description":"\u56fe\u7247\u7f29\u7565\u56fe","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u9996\u9875"],"summary":"\u56fe\u7247\u7f29\u7565\u56fe","responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/order\/index":{"post":{"parameters":[{"type":"string","name":"openid","default":"","in":"formData","description":"openid","required":true}],"description":"\u6211\u7684\u9884\u7ea6\u5355","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u9884\u7ea6\u5355","\u5206\u6821\u5c0f\u7a0b\u5e8f-\u4e2a\u4eba\u4fe1\u606f"],"summary":"\u6211\u7684\u9884\u7ea6\u5355","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0","examples":{"application\/json":{"resultMark":"success","code":200,"data":{"orders":[{"school_id":"\u6821\u533aid","school_name":"\u6821\u533a\u540d\u79f0","longitude":"\u7ecf\u5ea6","latitude":"\u7eac\u5ea6","phone":"\u6821\u533a\u7535\u8bdd","adviser_name":"\u8bfe\u987e\u540d\u79f0","adviser_portrait":"\u8bfe\u987e\u5934\u50cf","adviser_id":"6","id":"\u9884\u7ea6\u5355id","order_no":"\u9884\u7ea6\u5355\u53f7","date":"\u65e5\u671f","start_time":"\u5f00\u59cb\u65f6\u95f4(10:00)","end_time":"\u7ed3\u675f\u65f6\u95f4(12:00)","order_status":"\u9884\u7ea6\u5355\u72b6\u6001(0 \u672a\u8fc7\u671f 1 \u5df2\u8fc7\u671f)","diff_start_time":"(\u65f6\u95f4\u5dee(\u79d2)\uff1a\u5982\u679c\u672a\u8fc7\u671f:\u6b63\u6570\u5c31\u662f\u8ddd\u79bb\u5f00\u59cb\u7684\u65f6\u95f4,\u8d1f\u6570\u5c31\u662f\u5df2\u7ecf\u5f00\u59cb\u4e86\u591a\u5c11\u65f6\u95f4)","is_update_time":"\u662f\u5426\u6539\u8fc7\u671f\uff080 \u65e0 1 \u6539\u8fc7\uff09","order_phone":"\u9884\u7ea6\u4eba\u624b\u673a\u53f7\u7801"}]},"message":""}}}}}},"\/wifi\/v1\/frontend\/order\/order":{"post":{"parameters":[{"type":"string","name":"openid","default":"","in":"formData","description":"openid","required":true},{"type":"integer","name":"school_id","default":"","in":"formData","description":"\u6821\u533aid","required":true},{"type":"string","name":"date","default":"","in":"formData","description":"\u65e5\u671f(2018-05-26)","required":true},{"type":"string","name":"start_time","default":"","in":"formData","description":"\u5f00\u59cb\u65f6\u95f4(16:00)","required":true},{"type":"string","name":"end_time","default":"","in":"formData","description":"\u7ed3\u675f\u65f6\u95f4(18:00)","required":true},{"type":"string","name":"phone","default":"","in":"formData","description":"\u624b\u673a\u53f7\u7801","required":true}],"description":"\u6821\u533a\u9884\u7ea6\u5230\u6821","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u9884\u7ea6\u5355"],"summary":"\u6821\u533a\u9884\u7ea6\u5230\u6821","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/order\/update-time":{"post":{"parameters":[{"type":"string","name":"openid","default":"","in":"formData","description":"openid","required":true},{"type":"string","name":"order_id","default":"","in":"formData","description":"\u9884\u7ea6\u5355id","required":true},{"type":"string","name":"date","default":"","in":"formData","description":"\u65e5\u671f(2018-05-26)","required":true},{"type":"string","name":"start_time","default":"","in":"formData","description":"\u5f00\u59cb\u65f6\u95f4(16:00)","required":true},{"type":"string","name":"end_time","default":"","in":"formData","description":"\u7ed3\u675f\u65f6\u95f4(18:00)","required":true}],"description":"\u9884\u7ea6\u5355\u6539\u671f","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u9884\u7ea6\u5355"],"summary":"\u9884\u7ea6\u5355\u6539\u671f","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/school\/index":{"post":{"parameters":[{"type":"number","name":"lon","default":"","in":"formData","description":"\u7ecf\u5ea6","required":false},{"type":"number","name":"lat","default":"","in":"formData","description":"\u7eac\u5ea6","required":false},{"type":"integer","name":"province_id","default":"","in":"formData","description":"\u7701id(\u6b64\u5b57\u6bb5\u4f18\u5148\u7ea7\u5927\u4e8e\u7ecf\u7eac\u5ea6)","required":false},{"type":"integer","name":"pageSize","default":"","in":"formData","description":"\u6570\u91cf","required":false},{"type":"integer","name":"page","default":"","in":"formData","description":"\u9875\u7801","required":false}],"description":"\u6821\u533a\u5217\u8868","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u6821\u533a\u9875"],"summary":"\u6821\u533a\u5217\u8868","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/school\/detail":{"post":{"parameters":[{"type":"number","name":"lon","default":"","in":"formData","description":"\u7ecf\u5ea6","required":false},{"type":"number","name":"lat","default":"","in":"formData","description":"\u7eac\u5ea6","required":false},{"type":"integer","name":"school_id","default":"","in":"formData","description":"\u6821\u533aid","required":true}],"description":"\u6821\u533a\u8be6\u60c5","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u6821\u533a\u9875"],"summary":"\u6821\u533a\u8be6\u60c5","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/school\/school-adviser":{"post":{"parameters":[{"type":"integer","name":"school_id","default":"","in":"formData","description":"\u6821\u533aid","required":true}],"description":"\u6307\u5b9a\u6821\u533a\u4e0b\u7684\u8bfe\u7a0b\u987e\u95ee","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u6821\u533a\u9875"],"summary":"\u6307\u5b9a\u6821\u533a\u4e0b\u7684\u8bfe\u7a0b\u987e\u95ee\uff08\u6821\u533a\u8be6\u60c5,\u9884\u7ea6\u9875\uff09","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/school\/province":{"post":{"description":"\u7701\u5217\u8868(northChina\u534e\u5317  eastChina\u534e\u4e1c  southChina\u534e\u5357 centralChina\u534e\u4e2d northWest\u897f\u5317 southWest\u897f\u5357 northEast\u4e1c\u5317)","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u6821\u533a\u9875","\u5206\u6821\u5c0f\u7a0b\u5e8f-\u8003\u8bd5"],"summary":"\u7701\u5217\u8868(northChina\u534e\u5317  eastChina\u534e\u4e1c  southChina\u534e\u5357 centralChina\u534e\u4e2d northWest\u897f\u5317 southWest\u897f\u5357 northEast\u4e1c\u5317)","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/school\/location-province":{"post":{"parameters":[{"type":"number","name":"lon","default":"116.316100","in":"formData","description":"\u7ecf\u5ea6","required":false},{"type":"number","name":"lat","default":"39.9784100","in":"formData","description":"\u7eac\u5ea6","required":false}],"description":"\u6839\u636e\u7ecf\u7eac\u5ea6\u83b7\u53d6\u5f53\u524d\u7701\u4efd","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u6821\u533a\u9875","\u5206\u6821\u5c0f\u7a0b\u5e8f-\u8003\u8bd5"],"summary":"\u5b9a\u4f4d\u7701\u4efd","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/school\/directions":{"post":{"parameters":[{"type":"integer","name":"school_id","default":"","in":"formData","description":"\u6821\u533aid","required":true}],"description":"\u6821\u533a\u6307\u8def","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u6821\u533a\u9875"],"summary":"\u6821\u533a\u6307\u8def","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/wifi\/v1\/frontend\/school\/wifi":{"post":{"parameters":[{"type":"integer","name":"school_id","default":"","in":"formData","description":"\u6821\u533aid","required":true}],"description":"\u6821\u533awifi","tags":["\u5206\u6821\u5c0f\u7a0b\u5e8f-\u6821\u533a\u9875"],"summary":"\u6821\u533awifi","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/live\/admin\/submit-info":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"string","name":"portrait","default":"","in":"formData","description":"\u5934\u50cf\u56fe\u8def\u5f84","required":true},{"type":"string","name":"brief","default":"","in":"formData","description":"\u4e2a\u4eba\u7b80\u4ecb","required":true},{"type":"string","name":"motto","default":"","in":"formData","description":"\u683c\u8a00","required":true}],"description":"\u54a8\u8be2\u5e08\u4e0a\u4f20\u4e2a\u4eba\u4fe1\u606f","tags":["\u540e\u53f0"],"summary":"\u540e\u53f0\u4e0a\u4f20\u4e2a\u4eba\u4fe1\u606f","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u4fdd\u5b58\u5931\u8d25"}}}},"\/live\/admin\/get-admin-info":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"}],"description":"\u83b7\u5f97\u54a8\u8be2\u5e08\u4e2a\u4eba\u4fe1\u606f","tags":["\u540e\u53f0"],"summary":"\u83b7\u5f97\u54a8\u8be2\u5e08\u4e2a\u4eba\u4fe1\u606f","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u67e5\u8be2\u6210\u529f"}}}},"\/live\/category\/index":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"}],"description":"\u83b7\u53d6\u6587\u4ef6\u5206\u7c7b\u5217\u8868","tags":["\u540e\u53f0"],"summary":"\u6587\u4ef6\u5206\u7c7b\u5217\u8868","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/live\/category\/add":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"string","name":"name","default":"\u7c7b\u540d","in":"formData","description":"\u7c7b\u540d\u79f0","required":true},{"type":"integer","name":"pid","default":"0","in":"formData","description":"\u7236id(\u9ed8\u8ba4\u4e3a0\u5219\u662f\u4e00\u7ea7\u5206\u7c7b)","required":false}],"description":"\u6dfb\u52a0\u5206\u7c7b","tags":["\u540e\u53f0"],"summary":"\u6dfb\u52a0\u5206\u7c7b","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/live\/category\/del":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"integer","name":"id","default":"1","in":"formData","description":"\u7c7bid","required":true}],"description":"\u5220\u9664\u5206\u7c7b","tags":["\u540e\u53f0"],"summary":"\u5220\u9664\u5206\u7c7b","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/live\/comment\/index":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"string","name":"visitor_name","default":"","in":"formData","description":"\u5b66\u5458\u59d3\u540d","required":false},{"type":"integer","name":"score","default":"","in":"formData","description":"\u8bc4\u5206","required":false},{"type":"string","name":"consulting_time","default":"","in":"formData","description":"\u5b9e\u9645\u54a8\u8be2\u65f6\u95f4","required":false},{"type":"integer","name":"pageSize","default":"15","in":"formData","description":"\u83b7\u53d6\u6570\u91cf","required":false},{"type":"integer","name":"page","default":"1","in":"formData","description":"\u9875\u7801","required":false}],"description":"\u83b7\u53d6\u54a8\u8be2\u5e08\u7684\u8bc4\u8bba\u5217\u8868","tags":["\u540e\u53f0"],"summary":"\u8bc4\u8bba\u5217\u8868","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/live\/comment\/score-tags":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"}],"description":"\u83b7\u53d6\u8bc4\u5206\u6807\u7b7e","tags":["\u540e\u53f0"],"summary":"\u8bc4\u5206\u6807\u7b7e\u5217\u8868","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/live\/comment\/tags-add":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"integer","name":"score","default":"1","in":"formData","description":"\u8bc4\u5206","required":true},{"type":"string","name":"score_tag","default":"","in":"formData","description":"\u8bc4\u5206\u6807\u7b7e","required":true}],"description":"\u6dfb\u52a0\u8bc4\u5206\u6807\u7b7e","tags":["\u540e\u53f0"],"summary":"\u8bc4\u5206\u6807\u7b7e\u6dfb\u52a0","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/live\/comment\/tags-del":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"integer","name":"id","default":"","in":"formData","description":"\u6807\u7b7eid","required":true}],"description":"\u5220\u9664\u8bc4\u5206\u6807\u7b7e","tags":["\u540e\u53f0"],"summary":"\u5220\u9664\u8bc4\u5206\u6807\u7b7e","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/live\/consultation\/index":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"int","name":"page","default":"1","in":"formData","description":"\u9875\u7801","required":false},{"type":"string","name":"visitorName","default":"","in":"formData","description":"\u54a8\u8be2\u8005\u59d3\u540d","required":false},{"type":"string","name":"reserveName","default":"","in":"formData","description":"\u9884\u7ea6\u4eba\u59d3\u540d","required":false},{"type":"int","name":"appointmentTime","default":"","in":"formData","description":"\u9884\u7ea6\u65f6\u95f4\u7684\u65f6\u95f4\u6233","required":false},{"type":"int","name":"pageSize","default":"15","in":"formData","description":"\u9875\u9762\u6570\u636e\u91cf(1-50)","required":false}],"description":"\u9884\u7ea6\u5355\u5217\u8868","tags":["\u540e\u53f0"],"summary":"\u9884\u7ea6\u5355\u5217\u8868","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u641c\u7d22\u6210\u529f"}}}},"\/live\/consultation\/add":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"string","name":"visitorName","default":"","in":"formData","description":"\u54a8\u8be2\u8005\u59d3\u540d","required":true},{"type":"string","name":"reserveName","default":"","in":"formData","description":"\u9884\u7ea6\u4eba\u59d3\u540d","required":true},{"type":"int","name":"appointmentTime","default":"","in":"formData","description":"\u9884\u7ea6\u65f6\u95f4\u6233","required":true}],"description":"\u65b0\u5efa\u9884\u7ea6\u5355(\u65b0\u5efa\u76f4\u64ad\u5ba4)","tags":["\u540e\u53f0"],"summary":"\u65b0\u5efa\u9884\u7ea6\u5355(\u65b0\u5efa\u76f4\u64ad\u5ba4)","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u670d\u52a1\u5668\u5185\u90e8\u9519\u8bef"}}}},"\/live\/consultation\/qr":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"int","name":"courseId","default":"","in":"formData","description":"\u54a8\u8be2\u5ba4Id","required":true}],"description":"\u83b7\u53d6\u76f4\u64ad\u5ba4\u7684\u4e8c\u7ef4\u7801","tags":["\u540e\u53f0"],"summary":"\u83b7\u53d6\u76f4\u64ad\u5ba4\u7684\u4e8c\u7ef4\u7801","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u53c2\u6570\u9519\u8bef"}}}},"\/live\/course\/get-authority":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"int","name":"courseId","default":"","in":"formData","description":"\u54a8\u8be2\u5ba4Id","required":true}],"description":"\u9a8c\u8bc1\u8fdb\u5165\u54a8\u8be2\u5ba4(\u76f4\u64ad\u95f4)\u7684\u6743\u9650","tags":["\u540e\u53f0"],"summary":"\u9a8c\u8bc1\u8fdb\u5165\u54a8\u8be2\u5ba4(\u76f4\u64ad\u95f4)\u7684\u6743\u9650","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u670d\u52a1\u5668\u5185\u90e8\u9519\u8bef"}}}},"\/live\/docs\/index":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"string","name":"originalName","default":"","in":"formData","description":"\u6587\u4ef6\u540d\u79f0","required":false},{"type":"integer","name":"category_id","default":"","in":"formData","description":"\u7c7b\u578bid","required":false},{"type":"integer","name":"page","default":"1","in":"formData","description":"\u9875\u7801","required":false},{"type":"integer","name":"pageSize","default":"15","in":"formData","description":"\u6bcf\u9875\u6570\u91cf","required":false}],"description":"\u83b7\u53d6\u6587\u4ef6\u5217\u8868","tags":["\u540e\u53f0"],"summary":"\u6587\u4ef6\u5217\u8868","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/live\/docs\/add":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"integer","name":"id","default":"","in":"formData","description":"\u6587\u4ef6id,\u5982\u679c\u4f20\u5165\u8be5\u53c2\u6570\u5219\u662f\u4fee\u6539\u6587\u4ef6","required":false},{"type":"string","name":"originalName","default":"0","in":"formData","description":"\u6587\u4ef6\u540d\u79f0","required":true},{"type":"integer","name":"category_id","default":"","in":"formData","description":"\u7c7b\u578bid","required":true},{"type":"string","name":"path","default":"","in":"formData","description":"\u6587\u4ef6\u8def\u5f84","required":false}],"description":"\uff08\u6dfb\u52a0|\u4fee\u6539\uff09\u6587\u4ef6","tags":["\u540e\u53f0"],"summary":"\uff08\u6dfb\u52a0|\u4fee\u6539\uff09\u6587\u4ef6","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/live\/docs\/info":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"integer","name":"id","default":"0","in":"formData","description":"\u6587\u4ef6id","required":true}],"description":"\u6587\u4ef6\u4fe1\u606f","tags":["\u540e\u53f0"],"summary":"\u6587\u4ef6\u4fe1\u606f","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/live\/docs\/del":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"integer","name":"id","default":"\u6587\u4ef6id","in":"formData","description":"\u6587\u4ef6id","required":true}],"description":"\u5220\u9664\u6587\u4ef6","tags":["\u540e\u53f0"],"summary":"\u5220\u9664\u6587\u4ef6","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/live\/docs\/upload":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"file","name":"Upload[file]","default":"","in":"formData","description":"\u6587\u4ef6name","required":false}],"description":"\u4e0a\u4f20\u6587\u4ef6","tags":["\u540e\u53f0"],"summary":"\u4e0a\u4f20\u6587\u4ef6","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/live\/index\/login":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"string","name":"u","default":"sddvM6Qz69MEjFp8EyPP9g==","in":"formData","description":"\u52a0\u5bc6\u540e\u7684\u7528\u6237\u8d26\u53f7","required":false}],"description":"\u767b\u9646-\u83b7\u53d6\u7528\u7528\u6237\u4fe1\u606f","tags":["\u540e\u53f0"],"summary":"\u767b\u9646","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/live\/index\/logout":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"}],"description":"\u9000\u51fa\u767b\u9646","tags":["\u540e\u53f0"],"summary":"\u9000\u51fa\u767b\u9646","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}},"\/live\/video\/index":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"int","name":"page","default":"1","in":"formData","description":"\u9875\u7801","required":false},{"type":"string","name":"visitorName","default":"","in":"formData","description":"\u5b66\u5458(\u5230\u8bbf\u8005)\u59d3\u540d","required":false},{"type":"string","name":"adviserName","default":"","in":"formData","description":"\u8bfe\u7a0b\u987e\u95ee\u59d3\u540d","required":false},{"type":"string","name":"appointmentTime","default":"","in":"formData","description":"\u9884\u7ea6\u65f6\u95f4\u7684(\u65e5\u671f\u5b57\u7b26\u4e32)","required":false},{"type":"int","name":"pageSize","default":"15","in":"formData","description":"\u9875\u9762\u6570\u636e\u91cf(1-50)","required":false},{"type":"int","name":"regionId","default":"","in":"formData","description":"\u5927\u533aid","required":false}],"description":"\u89c6\u9891\u5217\u8868","tags":["\u540e\u53f0"],"summary":"\u89c6\u9891\u5217\u8868","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u641c\u7d22\u6210\u529f"}}}},"\/live\/video\/regions":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"}],"description":"\u83b7\u5f97\u6240\u6709\u5927\u533a","tags":["\u540e\u53f0"],"summary":"\u83b7\u5f97\u6240\u6709\u5927\u533a","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u641c\u7d22\u6210\u529f"}}}},"\/sloa\/index\/single-upload":{"post":{"parameters":[{"name":"token","in":"header","default":"_iZXPgfXGrjHPTjCbxkKPdyIIGyThDjV","description":"\u8bbf\u95eetoken(\u6b64\u53c2\u6570\u4e3a\u6240\u6709\u63a5\u53e3\u7684\u516c\u5171\u53c2\u6570)"},{"type":"file","name":"Upload[file]","default":"","in":"formData","description":"\u4e0a\u4f20\u7684\u6587\u4ef6","required":true}],"description":"\u4e0a\u4f20\u5355\u4e2a\u6587\u4ef6","tags":["\u5206\u6821\u7ba1\u7406\u540e\u53f0"],"summary":"\u4e0a\u4f20\u5355\u4e2a\u6587\u4ef6","consumes":["application\/x-www-form-urlencoded"],"responses":{"200":{"description":"\u6210\u529f\u8fd4\u56de\u63cf\u8ff0"}}}}},"definitions":[]}